@tailwind base;
@tailwind components;
@tailwind utilities;

.css-selector {
  background: linear-gradient(316deg, #1211f8, #b511f8);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 39s ease infinite;
  -moz-animation: AnimationName 39s ease infinite;
  animation: AnimationName 39s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  background-color: black;
}
