@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}
@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
}
.shadow-white {
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.8);
}
.shadow-neon {
  text-shadow:
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 10px #fb00ff,
    0 0 20px #fb00ff,
    0 0 30px #fb00ff;
    
}
